/*  */
/* typography */
/*  */
.bold {
  font-weight: 600;
}
/* font classes */
/* title */
.title {
  font-size: var(--fs-title);
  line-height: var(--lh-title);
}
.title-lg {
  font-size: var(--fs-title-lg);
  line-height: var(--lh-title-lg);
}
.subtitle {
  font-size: var(--fs-subtitle);
  line-height: var(--lh-subtitle);
}
/* secton heading */

.section-heading {
  font-size: var(--fs-section-heading);
  line-height: var(--lh-section-heading);
}
.section-heading-lg {
  font-size: var(--fs-section-heading-lg);
  line-height: var(--lh-section-heading-lg);
}
/* text */
.text-small {
  font-size: var(--fs-text-small);
}
.text-regular {
  font-size: var(--fs-text);
  line-height: var(--lh-text);
}
.text-medium {
  font-size: var(--fs-text-medium);
  line-height: var(--lh-text-medium);
}
.text-lg {
  font-size: var(--fs-text-lg);
  line-height: var(--lh-text-lg);
}
/* aside heading */
.aside-heading {
  font-size: var(--fs-aside-heading);
}
/* other headings */
.heading-small {
  font-size: var(--fs-heading-small);
  line-height: var(--lh-heading-small);
}
/* labels */

.label-text {
  font-size: var(--fs-label);
  line-height: var(--lh-label);
}

/* placeholder */

/*  */
/* layout */
/*  */
.flex-columns {
  display: flex;
  gap: 2rem;
}
.flex-column {
  flex: 1;
  flex-basis: 100%;
}
.flex-column-left {
  flex-basis: 40%;
}

.no-margin {
  margin: 0 !important;
}
.container {
  max-width: 100vw;
  max-width: 1300px;
  margin-inline: auto;
}

/* hiding stuff on large screens */
.hide-on-desktop {
  display: none;
}
/* media queries */

@media screen and (max-width: 750px) {
  /* changing direction of flex-column to column from row */
  .flex-columns {
    flex-direction: column;
  }
  .hide-on-mobile {
    display: none;
  }
  .hide-on-desktop {
    display: block;
  }
  .no-margin-mobile {
    margin: 0;
  }
}
