.flex-columns {
  display: flex;
  gap: 2rem;
}
.flex-column {
  flex: 1;
  flex-basis: 100%;
}

.no-margin {
  margin: 0 !important;
}
.container {
  max-width: 100vw;
  max-width: 1300px;
  margin-inline: auto;
}

/* media queries */

@media screen and (max-width: 1000px) {
}
