@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,500;1,700&family=Montserrat:ital,wght@0,400;0,600;0,800;1,500&display=swap");
body {
  --clr-white: #ffffff;
  --clr-black-100: rgba(0, 0, 0, 0.02);
  --clr-black: #000000;
  --clr-blue-600: #bbd3d7;
  --clr-blue-400: #aed5dc;
  --clr-orange-400: #fea34f;
  --clr-red-700: #ab2b2b;
  --clr-red-500: #df3353;
  --clr-yellow-300: #f8d782;
  --clr-yellow-400: #f4d074;
  --clr-green-400: #3b443f;
  --clr-green-500: #252c28;
  --gradient-orange: linear-gradient(to right, #fe7a68, #f69b5a);
  --ff-sans: "Montserrat", sans-serif;
  --ff-serif: "Lora", serif;

  --fs-x-small: 0.7rem;
  --fs-small: 0.8rem;
  --fs-regular: 1rem;
  --fs-medium: 1.2rem;
  --fs-medium-plus: 1.4rem;
  --fs-lg: 1.6rem;
  --fs-xl: 1.8rem;
  --fs-logo: 1.6rem;
  --fs-main-nav: 1.1rem;
  --fs-icon: 1.8rem;
  /* padding */
  --pinline: 3rem;
}

/* media query for 1000px */

@media screen and (max-width: 1000px) {
  /*  */
  /* typography */
  /*  */
  body {
    --fs-medium: 1rem;
    --fs-lg: 1.4rem;
    --fs-logo: 1.3rem;
  }
}
@media screen and (max-width: 750px) {
  /*  */
  /* typography */
  /*  */
  body {
    --fs-main-nav: 1.5rem;
  }
}
