@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,800;0,900;1,500&display=swap");
body {
  --clr-white: #ffffff;
  --clr-black-100: rgba(0, 0, 0, 0.02);
  --clr-black: #000000;
  --clr-blue-600: #bbd3d7;
  --clr-blue-500: #aeedf8;
  --clr-blue-400: #aed5dc;
  --clr-blue-200: #e4e7e7;
  --clr-orange-400: #fea34f;
  --clr-red-700: #ab2b2b;
  --clr-red-500: #df3353;
  --clr-yellow-300: #f8d782;
  --clr-yellow-400: #f4d074;
  --clr-yellow-500: #ffd848;
  --clr-green-400: #3b443f;
  --clr-green-450: #16574a;
  --clr-green-500: #252c28;
  --gradient-orange: linear-gradient(to right, #fe7a68, #f69b5a);

  /* logo color */
  --clr-logo: var(--clr-white);
  --clr-rating-stars: var(--clr-orange-400);
  /* notification colors */
  --bg-notification: var(--gradient-orange);
  --clr-notification: var(--clr-black);
  --clr-error: var(--clr-red-500);
  /* header colors */
  --bg-header: var(--clr-black);
  --clr-header: var(--clr-white);
  /* footer colors */
  --bg-footer: var(--clr-black);
  --clr-footer: var(--clr-white);
  --bg-footer-bottom: var(--clr-green-400);
  --clr-footer-bottom: var(--clr-white);
  /* home colors */
  --bg-home-hero: var(--clr-blue-400);
  --clr-home-hero: var(--clr-black);
  --bg-home-best-selling: var(--clr-white);
  --clr-home-best-selling: var(--clr-black);
  --clr-home-best-selling-review-name: var(--clr-red-700);
  --bg-home-why-us: var(--clr-yellow-400);
  --clr-home-why-us: var(--clr-black);
  --bg-home-clothing-line: var(--clr-green-450);
  --clr-home-clothing-line-title: var(--clr-blue-200);
  /* About colors */
  width: 100%;
  --bg-about-intro: var(--clr-black);
  --clr-about-intro: var(--clr-white);
  --bg-about-how-started: var(--clr-white);
  --clr-about-how-started: var(--clr-black);
  --bg-about-company-values: var(--clr-black);
  --clr-about-company-values: var(--clr-white);
  /* Contact colors */
  --bg-contact-page: var(--clr-black);
  --clr-contact-page: var(--clr-white);
  --bg-contact-form: var(--clr-black);
  --clr-contact-form: var(--clr-white);

  /* Cart page */
  --bg-cart-page: var(--clr-white);
  --clr-cart-page: var(--clr-black);
  --bg-cart-card: var(--clr-white);
  --clr-cart-card: var(--clr-black);

  /* Error page */
  --bg-error-page: var(--clr-black);
  --clr-error-page: var(--clr-white);

  /* product page */
  --bg-product-page: var(--clr-white);
  --clr-product-page: var(--clr-black);

  /* login page */
  --bg-login-page: var(--clr-black);
  --clr-login-page: var(--clr-white);

  /* update page */
  --bg-update-page: var(--clr-black);
  --clr-update-page: var(--clr-white);

  /*  */
  /* font family */
  /*  */
  --ff-sans: "Montserrat", sans-serif;

  /*  */
  /* font -sizes */
  /*  */
  /* special font sizes */
  --fs-cart-counter-small: 0.7rem;
  --fs-logo: 1.6rem;
  --fs-main-nav: 1.1rem;
  --fs-icon-small: 1.2rem;
  --fs-icon: 1.8rem;
  --fs-icon-lg: 2.1rem;
  /* title */
  --fs-title: 3.5rem;
  --lh-title: 4.5rem;
  /* title large */
  --fs-title-lg: 5rem;
  --lh-title-lg: 6rem;
  /* subtitle */
  --fs-subtitle: 1.5rem;
  --lh-subtitle: 2rem;
  /* section heading small */

  /* section heading */
  --fs-section-heading: 2.2rem;
  --lh-section-heading: 3rem;
  /* section heading large */
  --fs-section-heading-lg: 3rem;
  --lh-section-heading-lg: 4rem;
  /* text small */
  --fs-text-small: 0.8rem;
  /* text */
  --fs-text: 1rem;
  --lh-text: 1.5rem;
  /* text medium */
  --fs-text-medium: 1.2rem;
  --lh-text-medium: 1.9rem;
  /* text large */
  --fs-text-lg: 1.3rem;
  --lh-text-lg: 2.2rem;
  /* aside heading */
  /* this is used in footer and header for heading */
  --fs-aside-heading: 1.6rem;
  /* other headings */
  /* heading small */
  /* used in FeatureCard2 component */
  --fs-heading-small: 1.4rem;
  --lh-heading-small: 1.8rem;

  /* labels */
  /* label */
  --fs-label: 0.9rem;
  --lh-label: 1.5rem;
  /* input text */
  --fs-input: 1rem;
  --lh-input: 1.2rem;
  /* placeholder */

  --fs-placeholder: 1rem;
  --lh-placeholder: 1.6rem;
  /*  */
  /* layout */
  /*  */
  /* padding */
  --pinline: 3rem;
  /* this is min height of header */
  --mh-header: 6rem;
}

/* media query for 1000px */

@media screen and (max-width: 1000px) {
  /*  */
  /* typography */
  /*  */
  body {
    /* special font sizes */
    --fs-logo: 1.3rem;

    /* title */
    --fs-title: 3rem;
    --lh-title: 3.5rem;
    /* aside heading */
    --fs-aside-heading: 1.4rem;
    /* label */
  }
}
@media screen and (max-width: 750px) {
  /*  */
  /* typography */
  /*  */
  body {
    /* special font sizes */
    --fs-main-nav: 1.5rem;
    /* title */
    --fs-title: 2rem;
    --lh-title: 2.8rem;
    /* title large */
    --fs-title-lg: 3rem;
    --lh-title-lg: 5rem;
    /* subtitle */
    --fs-subtitle: 1.3rem;
    --lh-subtitle: 2rem;
    /* section heading */
    --fs-section-heading: 1.8rem;
    --lh-section-heading: 2.4rem;
    /* section heading large */
    --fs-section-heading-lg: 2.5rem;
    --lh-section-heading-lg: 3.6rem;
    /* aside heading */
    --fs-aside-heading: 1.3rem;

    /* label */
    --fs-label: 0.8rem;
    /* placeholder */
    --fs-placeholder: 0.9rem;
    --lh-placeholder: 1.5rem;

    /*  */
    /* layout */
    /*  */
    --pinline: 2rem;
  }
}
